html, body {
    margin: 0;
    padding: 0;
  }  

body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.header {
    display: flex;
    justify-content: space-between;
    background-color: #1F2937;
    /* border-bottom: 2px black solid; */
    color: #F9FAF8;
}

.left-header,
.right-header {
    display: flex;
    align-items: center;
    gap: 16px;
    padding: 0px 8px 0px 0px;
}

ul {
    list-style: none;
    display: flex;
    gap: 16px;
    padding: 0;
    margin: 0;
}

a {
    text-decoration: none;
    color: #E5E7EB;
}

.body {
    display: flex;
    flex: 1;
    flex-direction: column;
}

.footer {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #1F2937;
    /* border-top: 2px black solid; */
    padding: 8px;
    color: #E5E7EB;
}

.one{
    display: flex;
    background-color: #1F2937;
    padding: 24px;
    justify-content: space-around;
}

.left-one {
    
}

.right-one {
    
}

.heading-one {
    color: #F9FAF8;
    font-weight: 900;
    font-size: 48px;
}

.subtext-one {
    color: #E5E7EB;
    margin: 8px 0px;
}

.right-one {

}

.two {
    display: flex;
    flex-direction: column;
    padding: 16px;
    gap: 16px;
    justify-content: center;
}

.title{
    color: #1F2937;
    font-size: 36px;
    font-weight: 900;
}

.three {
    display: flex;
    background-color: #E5E7EB;
    justify-content: center;
    align-items: center;
    flex: auto;
    flex-direction: column; 
}

.box-three {
    display: flex;
    background-color: #E5E7EB;
    justify-content: center; 
    gap: 8px;
    flex-wrap: wrap;
    width: 480px;
}

.quote-three {
    display: flex;
    justify-content: flex-end;
    flex: auto;
}

.four {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: white;
    flex: auto;
}

.box-four {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #3882F6;
    padding: 30px 48px;
    gap: 0 30px;
    color: white;
    border-radius: 12px;
}
.content-four{
    font-size: 12px;
}

.button-one {
 background-color: #3882F6;
 border: #1F2937 2px solid;
 color: white;
 padding: 4px 10px;
}

.button-four {
    background-color: #3882F6;
    border: white 2px solid;
    color: white;
    padding: 4px 10px;
   }

.title {
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: 900;
    font-size: 36px;
}

.container-two {
    display: flex;
    justify-content: center;
    gap: 52px;
    flex-wrap: wrap;
    text-align: center;
}

.info {
    max-width: 200px;
  }