html, body {
    margin: 0;
    padding: 0;
  }  

body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.section-one{
    background-color: #1F2937;
    display: flex;
    flex-direction: column;
    padding: 0px 10vw;
    /* padding-bottom: 72px; */
}

.navbar {
    display: flex;
    justify-content: space-between;
    background-color: #1F2937;
    color: #F9FAF8;
    height: 90px;
}

.left-navbar,
.right-navbar {
    display: flex;
    align-items: center;
    gap: 16px;
}

ul {
    list-style: none;
    display: flex;
    gap: 16px;
    padding: 0;
    margin: 0;
}

a {
    text-decoration: none;
    color: #E5E7EB;
}

.header-box {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 80px 0px;
    gap: 40px;
}

.left-header {
    display: flex;
    flex-direction: column;
    width: 450px;
    height: auto;
    gap: 16px;
}

.heading-one {
    color: #F9FAF8;
    font-weight: 900;
    font-size: 48px;
}

.subtext-one {
    color: #E5E7EB;
    margin: 8px 0px;
}

.button-one {
    background-color: #3882F6;
    border: transparent;
    color: white;
    padding: 8px 32px;
    border-radius: 6px;
    width: fit-content;
}

.right-header {
    height: auto;
    width: 360px;
}

.section-two {
    display: flex;
    flex-direction: column;
    padding: 50px 40px 110px 40px;
    justify-content: center;
    gap: 32px;
}

.title {
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: 900;
    font-size: 36px;
    color: #1F2937;
    margin-bottom: 20px;
}

.container-two {
    display: flex;
    justify-content: center;
    gap: 52px;
    flex-wrap: wrap;
    text-align: center;
}

.info {
    max-width: 200px;
    gap: 16px;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  img {
    border: #3882F6 2px solid;
    border-radius: 6px;
  }

.section-three {
    background-color: #E5E7EB;
    padding: 120px 40px;
    display: flex;
    justify-content: center;
}

.box-three {
    display: flex;
    flex-direction: column;
    width: 800px;
    gap: 16px;
}

.paragraph-three {
    font-size: 36px;
    font-style: italic;
    font-weight: 300;
    flex-wrap: wrap;
}

.subtext-three {
    text-align: right;
    font-size: 19px;
}

.section-four {
    display: flex;
    justify-content: center;
    padding: 120px 40px;
}

.box-four {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #3882F6;
    padding: 50px 80px;
    gap: 0 110px;
    color: white;
    border-radius: 12px;
    width: 800px;
}

.header-four {
    font-size: 23px;
}

.content-four{
    font-size: 19px;
}

.button-four {
    background-color: transparent;
    border: white 2px solid;
    color: white;
    padding: 6px 15px;
    border-radius: 6px;
    font-size: 19px;
   }

   .footer {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #1F2937;
    padding: 36px;
    color: #E5E7EB;
}